<%= tag.div data: {
  controller: "player visualization",
  class: "w-full"
} do %>
  <div class="absolute top-6 left-6">
    <div class="flex gap-8">
      <%= tag.div nil, data: { player_target: "coverImage" }, style: "background-image: url('/default_cover_image.png');", class: "w-40 h-40 bg-cover transition-all duration-1000 ease-in-out rounded-md" %>
      <div class="text-shadow-lg/100 text-shadow-slate-900">
        <div class="text-white text-3xl" data-player-target="title">-</div>
        <div class="text-white text-xl" data-player-target="artist">-</div>
        <div class="text-white text-xl" data-player-target="album">-</div>
        <div class="font-mono text-white">
          <span data-player-target="currentTime">0:00</span> / <span data-player-target="duration">0:00</span>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed bottom-0 left-6 w-[calc(100%-3rem)]">
    <div class="max-w-screen-xl" data-visualization-target="container">
      <div class="w-full h-48">
        <canvas data-visualization-target="canvas" class="w-full h-full"></canvas>
      </div>
    </div>
    <%= audio_tag "", controls: true, autoplay: false, id: "audio-player", data: { player_target: "audio", visualization_target: "audio" }, class: "hidden" %>
    </div>
  </div>
<% end %>
